.movie {
  display: block;
  flex-direction: column;
  width: 25%;
  margin-bottom: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.moive__poster {
  display: inline-block;
  max-width: 220px;
  border: 5px solid #fff;
  border-radius: 4px;
  text-decoration: none !important;
  background-color: transparent;
  width: 210px;
  height: 315px;
}

.movie__data {
  margin: 0 auto;
  padding: 0 5px;
  max-width: 220px;
  text-align: left;
}
